<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://loancalculatordemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>loancalculatordemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LoanCalculatorDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LoanCalculatorDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LoanCalculator-20170118111531.mdf;Initial Catalog=aspnet-LoanCalculator-20170118111531;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LoanCalculator-20170118111531.mdf;Initial Catalog=aspnet-LoanCalculator-20170118111531;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsServiceBus" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://loancalculatordemo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=v9DUH84uJze+vZzL8w0p11L5ElgHG297kq62XrKws+8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsServiceBus_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://loancalculatordemo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=v9DUH84uJze+vZzL8w0p11L5ElgHG297kq62XrKws+8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsDashboard" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=loancalculatordemo;AccountKey=4lXs9QYkmxsa1p/zzSKL2aHnNDnceuTmuxnpZAi+Ug5v6p2Baf2Wyy/DNA3X2kTTuIPTY7Uoo4JstBZeBNptGQ==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=loancalculatordemo;AccountKey=4lXs9QYkmxsa1p/zzSKL2aHnNDnceuTmuxnpZAi+Ug5v6p2Baf2Wyy/DNA3X2kTTuIPTY7Uoo4JstBZeBNptGQ==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=loancalculatordemo;AccountKey=4lXs9QYkmxsa1p/zzSKL2aHnNDnceuTmuxnpZAi+Ug5v6p2Baf2Wyy/DNA3X2kTTuIPTY7Uoo4JstBZeBNptGQ==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=loancalculatordemo;AccountKey=4lXs9QYkmxsa1p/zzSKL2aHnNDnceuTmuxnpZAi+Ug5v6p2Baf2Wyy/DNA3X2kTTuIPTY7Uoo4JstBZeBNptGQ==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>